[user]
    email = daniel@floppy.co
    name = Daniel Upton

[diff]
[color]
    ui = auto

[alias]
    co = checkout
    cp = cherry-pick

[merge]
    tool = vimdiff

[github]
    user = boxofrad

[core]
    excludesfile = ~/.gitignore_global

[push]
    default = simple

[credential]
    helper = cache

[submodule]
    recurse = true

[url "git@github.com:"]
    insteadOf = https://github.com/

[pull]
    rebase = true

[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGN04tr2F5teme6HZ0cPyIHKmrrt/N9h5H2L6kRG1jr/

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
