[user]
    email = daniel@floppy.co
    name = Daniel Upton

[diff]
[color]
    ui = auto

[alias]
    co = checkout
    cp = cherry-pick

[merge]
    tool = vimdiff

[github]
    user = boxofrad

[core]
    excludesfile = ~/.gitignore_global

[push]
    default = simple

[credential]
    helper = cache

[submodule]
    recurse = true

[url "git@github.com:"]
    insteadOf = https://github.com/

[pull]
    rebase = true
